<p>This service is <strong>run by volunteers</strong>.  Please talk to us if
you see any problems and we will try to resolve them.  We work on a best-effort
basis, so there are no guarantees about how quickly we can respond.</p>

<p>To <strong>contact us</strong>, follow the "contact the server admins" link
on the web site.</p>

<p>This is Santa Circles privacy policy version 1, released on 2022-07-20.</p>

<p>We may update this privacy policy from time to time.  When we do so we will
create an issue in our development issue tracker, and give notice of at least
30 days.  If you prefer to use the service based on the old privacy policy, you
may do so during the notice period.</p>

<p>We won't use <strong>your data</strong> for anything other than the service.
By "the service" we mean software that allows you to make and manage gift-giving
events and wish lists.  We won't sell any of your data to anyone.</p>

<p><strong>We don't collect any personal data</strong> - we only store what you
explicitly supply: account information (e.g. username) and the data you use the
service to store.  The only use of <strong>cookies</strong> in the system is
to allow you to log in, and this is not shared with anyone.</p>

<p>We may <strong>contact you</strong> (if we have your contact details) if we
need to talk to you about something that is happening on the server.</p>

<p>If we think you are behaving in a way that is preventing others using the
service, we may <strong>delete your account</strong> or <strong>block
you</strong> without notice.  Normally, we will try to contact you, especially
if it looks like you didn't do it on purpose.</p>

<p>We try to be design our software and services to be <strong>secure</strong>:
following best practices for authentication, data transfer and storage.
However, there are <strong>no guarantees</strong>: as in all systems, there are
likely to be bugs, and we may well make mistakes.  Although we will try not to,
we may leak data or lose your data.  If it is vital that your data be fully
safe and secure, please use a different service.</p>

<p><strong>The server administrator can read your data</strong> (but normally
won't).  Your data is stored on a secure server, but people with access can
read your data.  They will <em>only</em> do this in the very rare case that
they need to do so to keep the service working properly.  If you want to ensure
no-one can read your data, please use a different service.  If you want to help
us implement end-to-end encryption, we would welcome your help - please contact
the developers.</p>

<p><strong>To report security problems</strong> contact the developers using
the "contact the server admins" link on the web site.</p>

<p><strong>We communicate about security problems</strong> by email with the
reporter until they are fixed.  Once they are fixed, we document them as issues
in our development project bug-tracker.</p>

<p><strong>Backups</strong> of the data are taken daily, and kept for up to one
month.  Occasional backups are kept for one year.  If you lose your data, we may
be able to recover some of it from the backups: contact us and we will try our
best, but no guarantees.  Backup files are stored on a separate secure computer
from the original data, and again can in principle be read by the server
administrator, although we won't read them unless we need to in order to
keep the service running.</p>

<p>We will <strong>keep your data</strong> while your account is active, and
we will keep the backups for up to one year after you delete your account.</p>

<p>If you <strong>delete a circle</strong> it will be removed from the server
within a few minutes, and it will be removed from our backups after one year. If
you <strong>delete your account</strong>, your details will be removed from the
relevant circles within a few minutes, and they will be removed from our backups
after one year.  If you need to wipe some data from our backups, please contact
us, but bear in mind that this is a manual process and may take some time.</p>
